<style type="text/css">

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
</style>

<form method="post">
  <p>搜索关键字: <input type="text" name="keyword" /></p>
    <p>结果数量: <input type="text" name="top_k" /></p>
  <input type="submit" value="搜索" />
</form>

{% if hits %}
  结果:</br>

  <table class="gridtable">
      <tr style="color: green; ">
              <th>标题</th>
              <th>详情</th>
              <th>类目</th>
              <th>缩略图</th>

      </tr>

  <!-- For loop logic of jinja template -->
  {%for i in range(0, hits_size)%}

  <!-- table rows -->
    <tr>
        <td>{{hits[i]['_source']['title']}}</td>
        <td>{{hits[i]['_source']['content'][:50]+'......'}}</td>
        <td>{{hits[i]['_source']['taglib']}}</td>
      <td><img src={{hits[i]['_source']['img']}} height="75" width="75"></td>
    </tr>

  {%endfor%}
  </table>

{% endif %}
